html,body,h1,h2,h3,h4,h5 {
  font-family: "Lato", sans-serif
}

p{
  text-align: center;
}

body {
  background-color: #DEEBF7;
}

.container1 {
  max-width: 700px;
  height: auto;
  background-color: rgba(164,213,238,0.5);
  margin: 5% auto;
  padding-bottom: 1rem;
}

.container{
	position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text1 {
  background-color: #779CE0;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.form__top {
  width: 100%;
  text-align: center;
  padding: 2rem 0 1rem;
  border-top: solid .4rem #8496E4;
  margin-bottom: 1rem;
}

.form__top h2 {
  font-weight: bold;
  color: black;
  font-size: 18px;
}

h2 span {
  color: black;
}

.form__reg {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn__form {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.input, .btn__submit, .btn__reset, .btn__registro{
  float: center;
}
.text{
  float: center;
  background-color: #EFEFEF;
  padding: .5rem;
  margin: .5rem 0;
  border: none;
  border-bottom: solid #8496E4 .2rem;
  transition: all .5s;
  height: 8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.input:focus {
  border-bottom: solid #5E6CA4 .2rem;
}

.text:focus {
  border-bottom: solid #5E6CA4 .2rem;
}


.btn__reset {
  background-color: #EDA135;
}

.btn__registro {
  background-color: #EDA135;
}

.btn__submit:hover {
  background-color: #4396db;
}

.btn__reset:hover{
  background-color: #FA9535;
}

a:hover{
  text-decoration: none;
}

/* Para el boton que hace dropdown */
.dropbtn {
    background-color: #779CE0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b4e4ee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(180,228,238,0.5);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    right: 0;
}

.dropdown-content a:hover {background-color: #c3e9f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #b5c9ee;
}

.icono{
  display: inline-block;
    margin: 0 0 10px 0;
    padding: 3px 6px;
    border: medium none;
    color: black;
    cursor: pointer;
    text-align: left;    
    text-decoration: none;
    white-space: nowrap;
    float: right;

}




