html,body,h1,h2,h3,h4,h5 {
 font-family: "Lato", sans-serif;
font-size: 14px;
}

p{
  text-align: center;
}

body {
  background-color: #DEEBF7;
}

.container {
  max-width: 450px;
  height: auto;
  background-color: rgba(164,213,238,0.5);
  margin: 5% auto;
  padding-bottom: 1rem;
  
}

.w3-btn-floating-large{
  background-color: #5c699f;
}

.form__top {
  width: 100%;
  text-align: center;
  padding: 2rem 0 1rem;
  border-top: solid .4rem #8496E4;
  margin-bottom: 1rem;
}

.form__top h2 {
  font-weight: bold;
  color: black;
  font-size: 18px;
}

h2 span {
  color: black;
}

.form__reg {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn__form {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.input, .btn__submit, .btn__reset, .btn__registro{
  float: center;
}
.text{
  float: center;
  background-color: #EFEFEF;
  padding: .5rem;
  margin: .5rem 0;
  border: none;
  border-bottom: solid #8496E4 .2rem;
  transition: all .5s;
  height: 8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.input:focus {
  border-bottom: solid #5E6CA4 .2rem;
}

.text:focus {
  border-bottom: solid #5E6CA4 .2rem;
}


.btn__reset {
  background-color: #EDA135;
}

.btn__registro {
  background-color: #EDA135;
}

.btn__submit:hover {
  background-color: #4396db;
}

.btn__reset:hover{
  background-color: #FA9535;
}

a{
  color: blue;
}


