body {
    background-color: #98DBC6;
}

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5EB4C5;
}

#navBar li a{
    text-decoration: none;
}

#op {
    float: right;
}

 li:hover {
    border-bottom: 5px solid #E6D72A;
}


li a {
    display: block;
    color:  black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}


#active {
    background-color: #4CAF50;
}

#logo{
	position: absolute;
	float: left;
	padding-left: 5px;
}

#num{
    text-decoration: none;
}

legend{
    font-size: 30px;
    text-align: center;
}

.wrapper{
  width: 60%;
  margin: 0 auto;
}
.rectangle-box{
    position: relative;
    width: 50%;
    overflow: hidden;
    background: #5EB4C5;
}


