html {
  font-size: 14px;
    font-family: 'Lato', sans-serif;
}

body {

    background-image: url("/images/head.jpg");
  background-repeat: no-repeat;
}

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(154,209,237,0.5);
    font-weight: bold;
}

#navBar li a{
    text-decoration: none;
}

#op {
    float: right; 
}


li a {
    display: block;
    color:  black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none; 
    list-style: none;
    border-bottom: 5px solid transparent;
}

li a:hover {
    border-bottom: 5px solid #8496E4;
}

#active {
    background-color: #4CAF50;
}

#logo{
	position: absolute;
	float: left;
	padding-left: 5px;
}

#num{
    text-decoration: none;
}

legend{
    font-size: 30px;
    text-align: center;
}
