html{
  font-family: "Lato", sans-serif;
font-size: 14px;
}

h1 {
  text-align: center;
  font-size: 72px;
  font-family: 'Questrial', sans-serif;
}

hr{
  border-bottom: 3px solid #6978B6;
  border-spacing: none;
  margin: auto;
}

h2{
  font-size: 55px;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

p {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  font-family: 'Questrial', sans-serif;
}
body{
  background-image: url("/images/head.jpg");
  background-repeat: no-repeat;
}

.img-centered {
  margin: 0 auto;
}
