 <!DOCTYPE html>
<html ng-app="app">	
	<body>
        <!--estudiante-->
        <head>
        	<meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
		    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
			<link rel="stylesheet" href="css/reset.css">
			<link rel="stylesheet" href="css/main.css">
			<title>Progreso</title>

		</head>
<body>
	
	<a class="regresar" href="#!/tutor">
	    	<i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
	 </a>


	 <div class="container" ng-controller="estController">
	 	<div class="form__top">
			<h2>Este es el progreso de tus estudiantes</h2>
		</div>	

		 <p style='font-weight: bolder;'>Buscar: <input type="text" ng-model="test"></p>
		 <br>
  		
		<table class="w3-table" >
		    <tr style='font-weight: bold;'>
		      <th>Nombre</th>
		      <th>Palabra</th>
		      <th>Respuesta</th>
		      <th>Dificultad</th>
		      <th></th>
		    </tr>
		    <tr ng-repeat="reporte in reportes |  filter : test">
		    	
		      <td placeholder="Nombre">{{reporte.nombre}}</td>
		      <td placeholder="Palabra">{{reporte.palabra}}</td>
		      <td placeholder="Respuesta">{{reporte.respuesta}}</td>
		      <td placeholder="Dificultad">{{reporte.dificultad}}</td>
		      
		    </tr>

		   
		  </table>
	 </div>

	 	<canvas id="base" class="chart-horizontal-bar"
  chart-data="data" chart-labels="labels">
</canvas>

	
	</body>
</html>