<!DOCTYPE html>
<html ng-app="app">	
	<body>
        <!--registroEst-->
        <head>
        	<meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
		    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
			<link rel="stylesheet" href="css/reset.css">
			<link rel="stylesheet" href="css/main.css">
			<title>Formulario</title>

		</head>
<body>
	
	<a class="regresar" href="#!/tutor">
	    	<i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
	 </a>



	<div id="canvas-holder">
		<canvas id="chart-area" width="300" height="300"></canvas>
	</div>
	</body>
</html>