<!DOCTYPE html>
<html ng-app="app">	
	<body>
        <!--home-->
        <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
	<link rel="stylesheet" href="css/home.css">
	<title>Home</title>
</head>
<body>

	 <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">SPAL</h1>
                <hr width="35%">
                <h2> Sistema Personalizado para el Apoyo Lector</h2>
                <br>
                <p>Es una aplicación que permitirá por medio de actividades lúdicas apoyar el proceso en la lectura de personas que lo necesiten; se caracteriza por tener diversas actividades y contenidos, a cada usuario se le dará una actividad según corresponda su perfil, de igual manera sucede con el contenido, teniendo así una experiencia más gratificante para ellos. La aplicación tendrá como objetivo el apoyar el proceso lector de la población objetivo y del mismo modo realizar una enseñanza no convencional por medio de juegos.</p>
            </div>
        </div>
    </header>

	
	</body>
</html>