<!DOCTYPE html>
<html ng-app="app">	
	<body>
        <!--home-->
        <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
	<link rel="stylesheet" href="css/home.css">
	<title>Home</title>
</head>
<body>

	 <header>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="images/spal.png" class="img-responsive img-centered" alt="">
                <h1 id="homeHeading">SPAL</h1>
                <hr align="center" width="10%">
                <h2> Sistema Personalizado para el Apoyo Lector</h2>
                <br>
                <p>Es una aplicación que permite por medio de actividades lúdicas, apoyar el proceso lector de personas que lo necesiten; se caracteriza por tener diversas actividades y contenidos, donde cada usuario tiene la oportunidad de escoger con cual se siente más a gusto, teniendo así una experiencia más gratificante.</p>
                <br>
            </div>
        </div>
    </header>

	
	</body>
</html>