<!DOCTYPE html>
<html ng-app="app">	
	<body>
        <!--ingreso-->
        <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<title>Ingreso</title>
</head>
<body>

	<div class="container">
		<div class="form__top">
			<h2>Ingresar a Mi Cuenta</h2>
		</div>		
		<form class="form__reg" action="">
            <input class="input" type="email" placeholder="Email" required>
            <input class="input" type="password" placeholder="Contaseña" required>
            <label><input class="input" type="checkbox" checked/> Mantener mi sesión iniciada</label>
            <div class="btn__form">
            	<!--localstorage para guardar datos-->
            	<input class="btn__submit" type="submit" value="INGRESAR">
            </div>
		</form>
		<br>
		<br>
		¿Aún no tienes cuenta? <a href="#!/registro"> Regístrate</a>
	</div>
	
	</body>
</html>