<!DOCTYPE html>
<html ng-app="app">	
	<body>
        <!--home-->
        <head>
  	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/inicio.css">

	<title>Home</title>
</head>
<body>
    <script type="text/javascript" src="js/app.js"></script>
    <div class="w3-content w3-container" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
        <div class="w3-section">
            <h1><b>Conoce la aplicación</b></h1>
    </div>
	 <!-- Slideshow mostrando la aplicación-->
    <div class="w3-content w3-display-container" ng-controller="inicioController">

        <a class="w3-btn-floating w3-indigo w3-hover-blue w3-display-left" ng-click="plusDivs(-1)">&#10094;</a>
        <a class="w3-btn-floating w3-indigo w3-hover-blue w3-display-right" ng-click="plusDivs(1)">&#10095;</a>

        <div class="w3-display-container mySlides">
          <img src="images/callout.jpg" style="width:100%">
          <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-light-grey">
            Inicio
        </div>
    </div>

    <div class="w3-display-container mySlides">
      <img src="images/portfolio-1.jpg" style="width:100%">
      <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-light-grey">
        Avatar
      </div>
    </div>

    <div class="w3-display-container mySlides">
      <img src="img_mountains.jpg" style="width:100%">
      <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-light-grey">
        
      </div>
    </div>

    <div class="w3-display-container mySlides">
      <img src="img_forest.jpg" style="width:100%">
      <div class="w3-display-topright w3-large w3-container w3-padding-16 w3-light-grey">
        The Rain Forest
      </div>
    </div>

    <div class="w3-display-container mySlides">
      <img src="img_mountains.jpg" style="width:100%">
      <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-light-grey">
        Mountains!
      </div>
    </div>

    </div>
	   <br>
       <br>
       <br>
       <!--Botón para descargar la aplicación-->
       <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-indigo w3-padding-large w3-center">
            <h3>Puedes descargar la aplicación haciendo click en el botón.</h3>
            <button class="w3-btn w3-center w3-cyan w3-large w3-round-large">
              <a href="http://162.243.36.251/SPAL.jar" target="_blank" style="text-decoration:none">
              Descargar
            </a>
            </button>
        </div>
         

            
            
        
	</body>
</html>