<!DOCTYPE html>
<html ng-app="app">	
	<body>
        <!--registro-->
        <head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="css/reset.css">
			<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
			<link rel="stylesheet" href="css/main.css">
			 <script src="https://apis.google.com/js/api.js"></script>
			<title>Formulario</title>

		</head>
<body>
	
	<div class="container" ng-controller="registroController">
		<div class="form__top">
			<h2>Formulario <span>Registro</span></h2>
		</div>		
		<form method="post" class="form__reg" ng-submit="enviar()">
			<input class="input" type="text" placeholder="Nombre" required autofocus ng-model="nombre" id="nombre">
			<input class="input" type="text" placeholder="Apellido" required autofocus ng-model="apellido" id="apellido">
			<input class="input" type="text" placeholder="Nombre de usuario" required autofocus ng-model="usuario">
            <input class="input" type="email" placeholder="Email" required ng-model="email">
            <input class="input" type="password" id="input" placeholder="Contaseña" required ng-model="contra">
            <select class="input" placeholder="Colegio" name="Colegio" required>
            	<option value="" selected="selected">- Colegio -</option>
			   <option value="1">Windows Vista</option> 
			   <option value="2">Windows 7</option> 
			   <option value="3">Windows XP</option>
			   <option value="10">Fedora</option> 
			   <option value="11">Debian</option> 
			   <option value="12">Suse</option> 
			</select>
            
            <div class="btn__form">
            	 
            	<input class="btn__submit" type="submit" ng-disabled="miFormulario.$invalid" ng-click="sendEmail()" ng-click="guardar()" onclick="location.href='php/conexion.php'" value="REGISTRAR">
            	
            	<input class="btn__reset" type="reset" value="LIMPIAR">	
            </div>
		</form>
	</div>
	
	</body>
</html>