<!DOCTYPE html>
<html ng-app="app">	
	<body>
        <!--registro-->
        <head>
        	<meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
		    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
			<link rel="stylesheet" href="css/reset.css">
			<link rel="stylesheet" href="css/main.css">

			<title>Formulario</title>

		</head>
<body>
	
	<div class="container" ng-controller="registroController" >
		<div class="form__top">
			<h2>Formulario <span>Registro</span></h2>
		</div>		
		<form method="post" class="form__reg" ng-submit="enviar()">
			<input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" single/>
			<img id="foto" src="" height="200" alt="No se ha cargado ninguna imágen...">
			<input class="input" type="text" placeholder="Nombre" required autofocus id="nombre">
			<input class="input" type="text" placeholder="Apellido" required id="apellido">
			<input class="input" type="text" placeholder="Nombre de usuario" required id="usuario">
            <input class="input" type="email" placeholder="Email" required id="email">
            <input class="input" type="password" placeholder="Contaseña" required ng-model="contra" id="cont">
             <select class="input" placeholder="Colegio" name="Colegio" id="colegio" required>
               <option value="" selected="selected">- Colegio -</option>
			   <option value="1">Colegio la Colina</option> 
			   <option value="2">Colegio Florentino Gonzáles</option> 
			   
			</select>
            
            <div class="btn__form">
            	 
            	<input class="btn__submit" type="submit" ng-disabled="miFormulario.$invalid" ng-click="sendEmail()" ng-click="guardar()" value="REGISTRAR">
            	
            	<input class="btn__reset" type="reset" value="LIMPIAR">	
            </div>
		</form>
	</div>
	
	</body>
</html>