<!DOCTYPE html>
<html ng-app="app">	
	<body>
        <!--tutor-->
        <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/tutor.css">
	
	<title>Tutor</title>
</head>
<body>

<!--http://fontawesome.io/icons/-->
	<div class="dropdown" style="right" ng-controller="tutorController">
	  <button class="dropbtn">
	  	<i class="fa fa-bars" color="black" aria-hidden="true"></i>
	  	Menú
	  </button>
	  <div class="dropdown-content">

	    <a href="#!/modificar">
	    	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
	    	Modificar Perfil 
	    </a>
	    <a href="" ng-click="logout()">
	    	<i class="fa fa-sign-out" aria-hidden="true"></i>
	    	Cerrar Sesión
	    </a>
	  </div>
	</div>



	<div class="container1" >

		<div class="form__top">
			<img src="images/user.png" class="img-responsive img-circle img-centered" alt="">
			<h2>¡Bienvenido {{nombre}}!</h2>
		</div>		
		<form class="form__reg">
        
            <p> En esta página podrás ver tus estudiantes y su respectivo progreso.</p>
            <br>

            <p ng-repeat="estudiante in estudiantes" style="font-weight: bold;"><a ng-click="guardar(estudiante.nombre)" href="#!/estudiante"> {{estudiante.nombre}} {{estudiante.apellido}}</a></p>

			           

			<br>
			

					<div class="w3-show-inline-block w3-center">
					  <div class="w3-bar" >
					    	<button class="w3-button w3-hover-blue w3-indigo w3-round-large">
					    		<i class="fa fa-user-plus" aria-hidden="true"></i>
					    		<a href="#!/registroEst" >
					    			Agregar Estudiante
					    		</a>
					    	</button>
					    	
					  </div>
					</div>

            	</div>

            	
		</form>
			
	</body>

</html>